<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WS_uchebka"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Products.ProductActivity" />
        <activity android:name=".Products.InsertProduct" android:theme="@style/noAnimTheme"/>
        <activity android:name=".Products.PickCategory" android:theme="@style/noAnimTheme"/>
        <activity android:name=".Products.ProductInfo" android:theme="@style/noAnimTheme"/>

        <activity android:name=".Orders.OrderActivity" />
        <activity android:name=".Orders.OrderInfo" android:theme="@style/noAnimTheme"/>
        <activity android:name=".User.InsertOrder" android:theme="@style/noAnimTheme"/>
        <activity android:name=".User.UserMain" />
        <activity android:name=".Authorize" android:theme="@style/noAnimTheme"/>
    </application>

</manifest>